# 無視するファイル
# データセット内のファイル
# モデルを保存したファイル（*.pth）

# 第1章のファイル
./1_Image_Classification_and_Transfer_Learning/data/hymenoptera_data/*
./1_Image_Classification_and_Transfer_Learning/*.pth

# 第2章のファイル
./2_Object_Detection/data/*
./2_Object_Detection/weights/*.pth
